networks:
  reverse_proxy:
    external: true
    driver: overlay
  kometa:
  recyclarr:

volumes:
  plex-transcode:
    driver_opts:
      type: tmpfs
      device: tmpfs

x-logging: &logging
  driver: json-file
  options:
    max-file: "1"
    max-size: "50m"

services:
  #########################################################################
  plex:
    image: ghcr.io/hotio/plex:release-1.41.6.9685-d301f511a
    restart: unless-stopped
    container_name: plex
    logging: *logging
    networks: [kometa, reverse_proxy]
    ports:
      - 32400:32400
      # - 1900:1900/udp
      # - 5353:5353/udp # Bound on Unraid already
      # - 8324:8324
      # - 32410:32410/udp
      # - 32412:32412/udp
      # - 32413:32413/udp
      # - 32414:32414/udp
      # - 32469:32469
    # devices:
    #   - /dev/dri:/dev/dri
    volumes:
      - ./plex/config:/config
      - plex-transcode:/transcode
      - /mnt/user/media:/data/media
    environment:
      - TZ=America/Chicago
      - PUID=$DOCKER_UID
      - PGID=$DOCKER_GID
      - PLEX_PASS=yes
    labels:
      - swag=enable

  #########################################################################
  sabnzbd:
    image: ghcr.io/hotio/sabnzbd:release-4.5.1
    restart: unless-stopped
    container_name: sabnzbd
    logging: *logging
    networks: [reverse_proxy]
    # ports:
    #   - 8080:8080
    volumes:
      - ./sabnzbd:/config
      - /mnt/user/media/.usenet:/data/media/.usenet
    environment:
      - TZ=America/Chicago
      - PUID=$DOCKER_UID
      - PGID=$DOCKER_GID
      - TP_THEME=plex
    labels:
      - swag=enable
      - swag_auth=authentik
      - swag_url=nzb.*

  #########################################################################
  qbittorrent:
    image: ghcr.io/hotio/qbittorrent:release-4.6.7
    # restart: unless-stopped
    container_name: qbittorrent
    logging: *logging
    networks: [reverse_proxy]
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv4.conf.all.src_valid_mark=1
    cap_add:
      - NET_ADMIN
    dns:
      - "1.1.1.1"
    ports:
      # MUST LEAVE THIS PORT OPEN FOR QBIT-MOVER RUNNING ON NEZUKO!!!!
      - 30003:8080 # qBittorrent
    # - 3000:3000 # Flood
    # - 8118:8118 # Privoxy
    volumes:
      - ./qbittorrent:/config
      - /mnt/user/media/.torrents:/data/media/.torrents
    environment:
      - TZ=America/Chicago
      - PUID=$DOCKER_UID
      - PGID=$DOCKER_GID
      - VPN_ENABLED=true
      - VPN_LAN_NETWORK=192.168.1.0/24
      - VPN_CONF=wg0
      - VPN_ADDITIONAL_PORTS
      - VPN_FIREWALL_TYPE=nftables
      - PRIVOXY_ENABLED=false
      - FLOOD_AUTH=false
    labels:
      - swag=enable
      - swag_auth=authentik
      - swag_url=torrent.*

  #########################################################################
  prowlarr:
    image: ghcr.io/onedr0p/prowlarr:1.32.2
    user: $DOCKER_UID:$DOCKER_GID
    restart: unless-stopped
    container_name: prowlarr
    logging: *logging
    networks: [reverse_proxy]
    # ports:
    #   - 9696:9696
    environment:
      - TZ=America/Chicago
      - UMASK=002
    volumes:
      - ./prowlarr:/config
    labels:
      - swag=enable
      - swag_auth=authentik

  #########################################################################
  sonarr:
    image: ghcr.io/onedr0p/sonarr:4.0.13
    user: $DOCKER_UID:$DOCKER_GID
    restart: unless-stopped
    container_name: sonarr
    logging: *logging
    networks: [recyclarr, reverse_proxy]
    # ports:
    #  - 30004:8989
    environment:
      - TZ=America/Chicago
    volumes:
      - ./sonarr:/config
      - /mnt/user/media:/data/media
    labels:
      - swag=enable
      - swag_auth=authentik

  #########################################################################
  sonarr_anime:
    image: ghcr.io/onedr0p/sonarr:4.0.13
    user: $DOCKER_UID:$DOCKER_GID
    restart: unless-stopped
    container_name: sonarr_anime
    logging: *logging
    networks: [recyclarr, reverse_proxy]
    # ports:
    #  - 30005:8989
    environment:
      - TZ=America/Chicago
    volumes:
      - ./sonarr_anime:/config
      - /mnt/user/media:/data/media
    labels:
      - swag=enable
      - swag_auth=authentik
      - swag_auth_bypass=/api
      - swag_port=8989
      - swag_address=sonarr_anime
      - swag_url=sonarr-anime.*

  #########################################################################
  radarr:
    image: ghcr.io/onedr0p/radarr:5.19.3
    user: $DOCKER_UID:$DOCKER_GID
    restart: unless-stopped
    container_name: radarr
    logging: *logging
    networks: [recyclarr, reverse_proxy]
    # ports:
    #  - 7878:7878
    volumes:
      - ./radarr:/config
      - /mnt/user/media:/data/media
    environment:
      - TZ=America/Chicago
    labels:
      - swag=enable
      - swag_auth=authentik

  #########################################################################
  radarr4k:
    image: ghcr.io/onedr0p/radarr:5.19.3
    user: $DOCKER_UID:$DOCKER_GID
    restart: unless-stopped
    container_name: radarr4k
    logging: *logging
    networks: [recyclarr, kometa, reverse_proxy]
    # ports:
    #   - 7879:7878
    volumes:
      - ./radarr4k:/config
      - /mnt/user/media:/data/media
    environment:
      - TZ=America/Chicago
    labels:
      - swag=enable
      - swag_auth=authentik
      - swag_auth_bypass=/api
      - swag_port=7878
      - swag_address=radarr4k
      - swag_url=radarr4k.*

  #########################################################################
  radarr_anime:
    image: ghcr.io/onedr0p/radarr:5.19.3
    user: $DOCKER_UID:$DOCKER_GID
    restart: unless-stopped
    container_name: radarr_anime
    logging: *logging
    networks: [recyclarr, kometa, reverse_proxy]
    # ports:
    #   - 7878:7878
    volumes:
      - ./radarr_anime:/config
      - /mnt/user/media:/data/media
    environment:
      - TZ=America/Chicago
    labels:
      - swag=enable
      - swag_auth=authentik
      - swag_auth_bypass=/api
      - swag_port=7878
      - swag_address=radarr_anime
      - swag_url=radarr-anime.*

  #########################################################################
  kometa:
    image: kometateam/kometa:v2.1.0
    restart: unless-stopped
    container_name: kometa
    logging: *logging
    networks: [kometa]
    volumes:
      - ./kometa:/config
    environment:
      - TZ=America/Chicago
      - PUID=$DOCKER_UID
      - PGID=$DOCKER_GID
      # - PMM_RUN=True # DISABLE WHEN DONE TESTING!!!
      - PMM_TIME=01:00,09:00,12:00,15:00,18:00,21:00

  #########################################################################
  bazarr:
    image: ghcr.io/linuxserver/bazarr:1.5.1
    restart: unless-stopped
    container_name: bazarr
    logging: *logging
    networks: [reverse_proxy]
    # ports:
    #   - 6767:6767
    volumes:
      - ./bazarr:/config
      - /mnt/user/media:/data/media
    environment:
      - TZ=America/Chicago
      - PUID=$DOCKER_UID
      - PGID=$DOCKER_GID
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:bazarr
      - TP_THEME=plex
    labels:
      - swag=enable
      - swag_auth=authentik

  #########################################################################
  tautulli:
    image: ghcr.io/hotio/tautulli:release-2.15.1
    restart: unless-stopped
    container_name: tautulli
    logging: *logging
    networks: [reverse_proxy]
    # ports:
    #  - 8181:8181
    volumes:
      - ./plex/config/Logs:/plex-logs:ro
      - ./tautulli/config:/config
      - ./tautulli/scripts:/scripts
      - ./tautulli/startup/startup.sh:/etc/cont-init.d/99-startup:ro
    environment:
      - TZ=America/Chicago
      - PUID=$DOCKER_UID
      - PGID=$DOCKER_GID
    labels:
      - swag=enable
      - swag_auth=authentik

  #########################################################################
  overseerr:
    image: ghcr.io/hotio/overseerr:release-1.34.0
    restart: unless-stopped
    container_name: overseerr
    logging: *logging
    networks: [reverse_proxy]
    # ports:
    #  - 5055:5055
    volumes:
      - ./overseerr:/config
    environment:
      - TZ=America/Chicago
      - PUID=$DOCKER_UID
      - PGID=$DOCKER_GID
      # - LOG_LEVEL=info
    labels:
      - swag=enable
      - swag_url=request.*

  #########################################################################
  unpackerr:
    image: ghcr.io/hotio/unpackerr:release-0.14.5
    restart: unless-stopped
    container_name: unpackerr
    logging: *logging
    networks: [reverse_proxy]
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./unpackerr:/config
      - /mnt/user/media:/data/media
    environment:
      - TZ=America/Chicago
      - PUID=$DOCKER_UID
      - PGID=$DOCKER_GID

  #########################################################################
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:7.4.1
    restart: unless-stopped
    user: $DOCKER_UID:$DOCKER_GID
    container_name: recyclarr
    logging: *logging
    networks: [recyclarr]
    volumes:
      - ./recyclarr-data:/config
    environment:
      - TZ=America/Chicago
      - CRON_SCHEDULE=0 1 * * *
